models/

.Rproj.user
.Rhistory
.RData
.Ruserdata

*.pdf
*.out
*.png
*.zip
*.gz

.ipynb_checkpoints/
__pycache__
venv
clin_venv/
spectra_venv/
scvi_venv/
*.whl

.snakemake

._*
.DS_Store

.pybiomart
gene2go
go-basic.obo
