ipykernel
snakemake==5.28.0
leidenalg
scrublet
scvi-tools
openpyxl
velocyto
git+https://github.com/broadinstitute/CellBender.git@v0.2.0#egg=cellbender
cellbrowser==0.5.49
adjusttext
statannot
goatools
pybiomart
matplotlib-venn
cellrank
torch-1.9.1+cu111-cp39-cp39-linux_x86_64.whl
scanpy-utils
umap-learn==0.5.1
anndata==0.7.5
bbknn
scarches
statannotations==0.4.4
tensorflow-probability
tensorflow
sccoda
jedi<0.18
scikit-misc # for seurat_v3 HVG selection
upsetplot
gseapy
Rbeast

